<main class="container">
    <article class="grid">
      <div>
        <hgroup>
          <h1 style="color: white; size: 30px;">かめぱわぁ～るどのdiscordに入っていないようです....</h1>
        </hgroup>
        <a
          href="https://www.kamesuta.com"
          role="button"
          style="--background-color: #5bf258; --border-color: #91f07e; width: 100%;"
          >→ Check HomePages</a
        >
        <div style="padding-top: 10px; text-align: center;">
            <a
            href="/login/discord"
            role="button"
            style="--background-color: #5865f2; --border-color: #7e87f0; width: 60%; height: 50%;"
            >→ ReLogin</a
            >
        </div>
      </div>
    </article>
</main>